<!--%- include('header') -%-->

<body>    
    <div>
        <div>
             <h1>Botanikusaink listája        </h1>
        </div>
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              overflow:hidden;padding:10px 5px;word-break:normal;}
            .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
            .tg .tg-baqh{text-align:center;vertical-align:top}
            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
            .tg .tg-0lax{text-align:center;vertical-align:top}
            </style>
            <table class="tg">
            <thead>
              <tr>
                <th class="tg-amwm">Név</th>
                <th class="tg-amwm">Életkor</th>
                <th class="tg-amwm">Elvesztett kesztyűk <br> száma</th>
                <th class="tg-amwm">Korábbi állás</th>
              </tr>
            </thead>
            <tbody>
              <%
                botanikusok.forEach(function(botanikusok) {
              %>
              <tr>
                <td class="tg-baqh"><%= botanikusok.nev %></td>
                <td class="tg-baqh"><%= botanikusok.eletkor %></td>
                <td class="tg-baqh"><%= botanikusok.elvesztettKesztyuk %></td>
                <td class="tg-baqh"><%= botanikusok.korabbiAllas %></td>
                <a class="btn btn-primary" href="/botanikusok/new" name="btnEditBotanikus">Módosítás</a>
                <a class="btn btn-primary" href="/botanikusok" name="btnDelBotanikus">Törlés</a>
              </tr>
            <%});%>
            </tbody>
          </table>
        </div>
        <a class="btn btn-primary" href="/botanikusok/new" name="btnUjBotanikus">Új botanikus felvétele</a>
            <a class="btn btn-primary" href="/novenyek" name="btnNovenyek">Növények</a>
        </div>
    </div>
</body>

<!--%- include('footer') -%-->