<html>
<head>
    <meta charset="UTF-8">
    <title>Botanikus hozzáadása</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding-top: 50px;
        }

    </style>
</head>
<body>

<h1>Új botanikus felvétele</h1>

<form method="post" action="/botanikusok/new">
    <label for="nev">Név:</label>
    <input type="text" id="nev" name="nev"><br><br>
    <label for="eletkor">Életkor:</label>
    <input type="text" id="eletkor" name="eletkor"><br><br>

    <label for="elvesztettKesztyuk">Elvesztett kesztyűk:</label>
    <input type="text" id="elvesztettKesztyuk" name="elvesztettKesztyuk"><br><br>
    <label for="korabbiAllas">Korábbi Állás:</label>
    <input type="text" id="korabbiAllas" name="korabbiAllas"><br><br>
    <input type="submit" value="Submit">
</form>
</div>
<a class="btn btn-primary" href="/botanikusok.html" name="btnUjBotanikus">Új botanikus felvétele</a>
<div>
    <div>
        <a class="btn btn-primary" href="/novenyek.html" name="btnBack">Vissza</a>
    </div>


</body>
</html>
